[train] #train parameters
epoch = 50
batch_size = 32

shuffle = True

reader_num = 4

optimizer = AdamW
learning_rate = 1e-3
weight_decay = 0


warmup_steps=10000
training_steps=50000
max_grad_norm=0

scheduler=t5

inspector_para=*plug*

max_len = 24
ctx_len = 512
ans_max_len = 16

layerth = 12
mid_dim=2
bottleneck_dim=16

doc_pos=True

[eval] #eval parameters
batch_size = 32
reader_num = 4

[data] #data parameters
train_dataset_type = SlotFilling
train_formatter_type = OpenQAPlugD
train_data_path = data/dpr-top5/structured_zeroshot-train-kilt.jsonl

valid_dataset_type = SlotFilling
valid_formatter_type = OpenQAPlugD
valid_data_path = data/dpr-top5/structured_zeroshot-dev-kilt.jsonl

test_dataset_type = SlotFilling
test_formatter_type = OpenQAPlugD
test_data_path = data/dpr-top5/structured_zeroshot-dev-kilt.jsonl


[model] #model parameters
model_name = OpenQAAdapter
pretrained_model = t5-large

model_type = PostPlugD

[output] #output parameters
output_time = 20
test_time = 1
output_grad_step = 200

model_name = zsREPlugD
output_function = squad
